
.mapContainer {
    position:absolute; top:0; bottom:0; width:100%;
}

.info {

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: white;
    left: 20px;
    padding: 10px;
    position: fixed;
    top: 20px;
    z-index: 99;
}

